
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Typing game</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">

  <script type="module" src="front-page.js" defer></script>
</head>
<!-- header -->
<body>
  <div class="background_image">
    <nav>
      <ul class="menu">
        <li class="logo"><a href="http://localhost:3004/front-page"><img src="logo.png" alt="logo" width="210" height="60" /></a></li>
        <li class="button primary"><a href="http://localhost/Typing-game-php/PHP/login.php">Log in</a></li>
        <li class="button secondary" id="test"><a href="http://localhost/Typing-game-php/PHP/signup.php">Sign up</a></li> 
        <li class="button secondary"><a href="/guest-mode">Guest mode</a></li> 
      </ul>
    </nav>
    <div id="annimation">
  
    <div id="type">Type </div> 
    <div id="fast"> 
      <span>faster than ever before</span>
    </div>
  
  </div>
    
  </div>
  <p class="sen"> Want to be in the leaderboard!</p>
  
<!-- leaderboard -->
  <table class="content-table" id="leaderboard-table-front-page"></table>
  
<!-- footer -->
  <div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li>|</li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li>|</li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li>|</li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li>|</li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">SIUUU 2022</p>
    </footer>
  </div>
</body>

</html>