<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="new-style.css">
  <script type="module" src="leaderboard.js" defer></script>

  <title>Document</title>
</head>
<body>
    <header>
    <a href="#" class="logo1"><img src="logo.png" alt="logo" ></a>
    <ul class="navigation1">
      <li><a href="/">Typing game</a></li>
      <li><a href="progress-tracker">My progres</a></li>
      <li><a href="#">Modes</a></li>
      <li><a href="/front-page">Log out</a></li>
    </ul>  
      <a href="#" class="image1"><img src="profile-image.png" alt="profile-pic"></a>    
  </header>
  <table id="leaderboard-table"></table>
</body>
</html>